<h1>Twitter pass-through backend</h1>

<p>Log in: <a href="/sessions/connect">/sessions/connect</a>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>
  // Copied from jquery-rails
  CSRFProtection = function(xhr) {
    var token = $('meta[name="csrf-token"]').attr('content');
    if (token) xhr.setRequestHeader('X-CSRF-Token', token);
  }
  $.ajaxPrefilter(function(options, originalOptions, xhr){ if ( !options.crossDomain ) { CSRFProtection(xhr); }});
</script>

<h2>Ajax demo</h2>

<% urls = ['/twitter-api/1/account/rate_limit_status.json', '/twitter-api/1/account/verify_credentials.json', '/twitter-api/1/statuses/user_timeline.json'] %>
<% for (var i = 0; i < urls.length; i++) { %>
  <h3><a href="<%= urls[i] %>?authenticity_token=<%= authenticityToken %>"><%= urls[i] %></a></h3>
  <pre id="ajax<%= i %>">Loading...</pre>
  <script>
    $(function() {
      $.ajax({
        url: '<%= urls[i] %>',
        complete: function(jqXHR) {
          $('#ajax<%= i %>').html(jqXHR.responseText);
        }
      });
    });
  </script>
<% } %>